@import "tailwindcss";

@layer utilities {
  /* Hides scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hides scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* GLOBAL SCROLLBAR HIDE */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    background-color: #000000;
}